# Quiz 1

### 1) เขียนคำสั่งคำนวณหาเศษเหลือจากการหาร 2345 ด้วย 13

In [1]:
2348%13

8

### 2) เขียนคำสั่งหาคำตอบจากการหาร 1567 ด้วย 17 โดยไม่เอาเศษส่วน

In [2]:
1567//17

92

### 3) FirstName กับ Firstname เป็นตัวแปรเดียวกันหรือไม่?

**ANS**: ไม่ใช่ตัวแปรเดียวกัน

### 4) 13Friday เป็นตัวแปรที่ถูกต้องหรือไม่?

**ANS**: ไม่ถูก

### 5) จง Print ผลลัพธ์จากข้อ 1,2 โดยใช้คำสั่ง format

In [5]:
print('Answer1 is {} Answer2 is {}'.format(2348%13,1567//17))

Answer1 is 8 Answer2 is 92

---------------------------------

# Quiz 2

### 1) เขียนฟังก์ชั่นไม่มีชื่อให้รับพารามิเตอร์ 1 ตัว และ ปริ้นค่านั้นหารด้วย 3

In [7]:
x = lambda x: print(x/3)

In [8]:
x(6)

2.0

In [9]:
x(7)

2.3333333333333335

### 2) เขียนฟังก์ชั่นธรรมดารับค่า 4 พารามิเตอร์ และหาค่าเฉลี่ย

In [10]:
def mean(x1, x2, x3, x4):
    return (x1 + x2 + x3 + x4)/4

In [12]:
mean(1, 2, 3, 4)

2.5

## 3) เขียนฟังก์ชั่นไม่มีชื่อให้รับพารามิเตอร์ 3 ตัว และหาค่าเฉลี่ย

In [13]:
mean = lambda x1, x2, x3: (x1 + x2 + x3)/3

In [14]:
mean(1, 2, 3)

2.0

-----------------------------------------

# Quiz 3

### 1) สร้างลิสต์ระบุชื่อ นามสกุล อายุ ตัวเอง

In [15]:
my = ["Jetsukda", "Janthornthao", 23]

### 2) ลบอายุออกจากลิสต์

In [16]:
del my[2]

In [17]:
my

['Jetsukda', 'Janthornthao']

In [21]:
my = ["Jetsukda", "Janthornthao", 23]

In [22]:
my.pop()

23

In [23]:
my

['Jetsukda', 'Janthornthao']

In [31]:
my = ["Jetsukda", "Janthornthao", 23]

In [32]:
my.remove(23)

In [33]:
my

['Jetsukda', 'Janthornthao']

### 3) ลดอายุตัวเอง 10 ปี และแทรกไว้หน้าสุดของลิสต์

In [34]:
my.insert(0, 23-10)

In [35]:
my

[13, 'Jetsukda', 'Janthornthao']

### 4) เพิ่มส่วนสูง น้ำหนักลงในลิสต์ โดยไปต่อท้าย

In [36]:
my.append(63)

In [37]:
my.append(175)

In [38]:
my

[13, 'Jetsukda', 'Janthornthao', 63, 175]

### 5) Print สมาชิกในลิสต์ตัวที่ 3 ถึงตัวสุดท้าย

In [39]:
print(my[2:])

['Janthornthao', 63, 175]

-------------------------------------

# Quiz 4

### 1) a = [[[1,3],[3,4]],[5,[5,6],[7,8]]] แล้ว a[1][1][1] คือค่าใด

In [40]:
a = [[[1,3],[3,4]],[5,[5,6],[7,8]]]

In [42]:
a[1]

[5, [5, 6], [7, 8]]

In [43]:
a[1][1]

[5, 6]

In [44]:
a[1][1][1]

6

### 2) เขียนชื่อนามสกุลอายุอยู่ในลิสต์เดียวของคน 4 คนแล้วใส่ไว้ในลิสต์ (Nested List) และแสดงผล

In [53]:
peoples = [["A", "A", 23],
           ["B", "B", 24],
           ["C", "C", 25],
           ["D", "D", 26]]

In [46]:
peoples

[['A', 'A', 23], ['B', 'B', 24], ['C', 'C', 25], ['D', 'D', 26]]

### 3) ลบคนสุดท้ายของลิสต์นั้นออกและแสดงผล

In [47]:
peoples.pop()

['D', 'D', 26]

In [48]:
peoples

[['A', 'A', 23], ['B', 'B', 24], ['C', 'C', 25]]

In [51]:
peoples.remove(['D', 'D', 26])

In [52]:
peoples

[['A', 'A', 23], ['B', 'B', 24], ['C', 'C', 25]]

In [54]:
del peoples[-1]

In [55]:
peoples

[['A', 'A', 23], ['B', 'B', 24], ['C', 'C', 25]]

### 4) เพิ่มคนที่ 5 เข้ามาเป็นคนแรกของ Nested List และแสดงผล

In [61]:
peoples = [["A", "A", 23],
           ["B", "B", 24],
           ["C", "C", 25],
           ["D", "D", 26]]

In [62]:
peoples.insert(0, ["E", "E", 27])

In [63]:
peoples

[['E', 'E', 27],
 ['A', 'A', 23],
 ['B', 'B', 24],
 ['C', 'C', 25],
 ['D', 'D', 26]]

### 5) แก้ไขน้ำหนักคนที่สอง +10 และแสดงผล

In [66]:
peoples = [["A", "A", 23],
           ["B", "B", 24],
           ["C", "C", 25],
           ["D", "D", 26]]

In [67]:
peoples[1][2] = peoples[1][2] + 10

In [68]:
peoples

[['A', 'A', 23], ['B', 'B', 34], ['C', 'C', 25], ['D', 'D', 26]]

---------------------------------------

# Quiz 5

### 1) กำหนดให้ lst = [1,2,3,4,5,6,7,8,9,10] จงเขียน Map เพื่อหาเลขยกกำลังสามทั้งหมดของ lst ในรูปแบบ Lambda Function และ ฟังก์ชั่นธรรมดา

In [76]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [77]:
cude = lambda x: x**3

In [78]:
lst = map(cude, lst)
list(lst)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 2) กำหนดให้ lst = [1,2,3,4,5,6,7,8,9,10] จงเขียน Filter เพื่อหาเลขใดในลิสต์เมื่อยกกำลังสองแล้วหารสองไม่ลงตัว ในรูปแบบ Lambda Function และ ฟังก์ชั่นธรรมดา

In [79]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [81]:
lst = filter(lambda x: (x**2)%2 != 0, lst)
print(list(lst))

[1, 3, 5, 7, 9]

-------------------------------

# Quiz 6

### 1) กำหนดให้ lst = [1,2,3,4,5] จงเขียน List Comprehension เพื่อนำทุกตัวใน lst ไปคูณกับ 2 และลบด้วย 1 พร้อมกับแสดงผล

In [1]:
lst = [1,2,3,4,5]

lst = [(i*2)-1 for i in lst]

lst

[1, 3, 5, 7, 9]

### 2) กำหนดให้ lst = [1,2,3,4,5,6,7,8,9,10,11,12,13] จงเขียน List Comprehension เพื่อหาตัวที่หาร 3 ไม่ลงตัว และนำผลลัพธ์นั้นยกกำลังสาม พร้อมกับแสดงผล

In [3]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13]

lst =[i for i in lst if i%3 != 0]

lst

[1, 2, 4, 5, 7, 8, 10, 11, 13]

------------------------------------

# Quiz 7

### 1) จงเขียนโปรแกรมตรวจสอบคะแนนเด็กนักเรียน ถ้าเด็กได้คะแนนมากกว่า 80 เกรด A มากกว่า 70 เกรด B มากกว่า 60 เกรด C มากกว่า 50 เกรด D และต่ำกว่า 50 เกรด F

In [6]:
point = 60

if point > 80:
    print("Grade: A")
elif point > 70:
    print("Grade: B")
elif point > 60:
    print("Grade: C")
elif point > 50:
    print("Grade: D")
else:
    print("Grade: F")

Grade: D

--------------------------------------

# Quiz 8

### 1) กำหนดให้ A = [1, 2, 3, 4, 5] และ B = [2, 3, 1, 3, 2] จงเขียน Map แบบ Multiple-list operations โดยให้ B ยกกำลังด้วย A พร้อมกับแสดงผล

In [7]:
A = [1, 2, 3, 4, 5]
B = [2, 3, 1, 3, 2]

result = map(lambda x, y: y**x, A, B)

list(result)

[2, 9, 1, 81, 32]

### 2) จงเขียนชื่อนักเรียน เลขที่ และคะแนนสอบไฟนอล พร้อมกับใช้คำสั่ง Zip() ในการจับคู่พร้อมกับแสดงผลลัพธ์ที่ถูกต้อง

In [8]:
student = ["A", "B", "C", "D"]
student_id = [1, 2, 3, 4]
final_point = [70, 50, 60, 80]

list(zip(student, student_id, final_point))

[('A', 1, 70), ('B', 2, 50), ('C', 3, 60), ('D', 4, 80)]

------------------------------------

# Quiz 9

### 1) กำหนดให้ lst = [5, 2, 1, 3, 2] จงเขียนฟังก์ชั่น Reduce เพื่อหาผลลัพท์สุดท้ายของดำเนินการแบบเลขยกกำลัง

In [9]:
from functools import reduce

lst = [5, 2, 1, 3, 2]

reduce((lambda x, y: x**y), lst)

244140625

### 2) กำหนดให้ lst = [1,2,3,4,5,6,7,8,9,10] จงเขียนฟังก์ชั่น Reduce เพื่อหาผลลัพท์สุดท้ายของดำเนินการแบบการคูณ

In [11]:
from functools import reduce

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

reduce((lambda x, y: x*y), lst)

3628800