# Project I Part 1

1.จงเขียนโปรแกรมรับค่า input จากผู้ใช้ ถ้าผู้ใช้ใส่เลข 0.0 จึงจะสิ้นสุดโปรแกรม คำนวณหาค่าเฉลั้ยของเลขทั้งหมดที่ผู้ใช้ใส่และปริ้นค่าเฉลี่ยคูณด้วยจำนวนครั้งที่ใส่ทั้งหมด

In [120]:
def mean():
    stop = False
    count = 0
    numbers = []
    while not stop:
        number = float(input("Input Number:"))
        if number == 0.0:
            stop = True
        else:
            numbers.append(number)
        count += 1
    print("-------------")
    return print(f'MEAN : {sum(numbers)/len(numbers)}\nTotal Number : {count}\nAnswer : {(sum(numbers)/len(numbers))*count}')

In [19]:
mean()

Input Number:10
Input Number:20
Input Number:30
Input Number:0.0
-------------
MEAN : 20.0
Total Number : 4
Answer : 80.0

2.จงเขียนโปรแกรมให้ผู้ใช้ใส่เลข ขอบเขตล่าง และ ขอบเขตบน และคำนวณหาเลขจำนวนเฉพาะ(Prime Number) ที่อยู่ระหว่างขอบเขตล่างและขอบเขตบน

In [30]:
def prime_number(start, stop):
    while stop > start :
        prime_num = []
        numbers = list(range(start, stop+1))
        print(f"LIST NUMBER:{numbers}")
        for number in numbers:
            if number!=1 and number%2!=0 and number%3!=0 and number%7!=0 :
                prime_num.append(number)
        return print(f"PRIME NUMNER:{prime_num}")
    else:
        print("ERROR START < STOP!!")
        start = int(input("Input Start Number:"))
        stop = int(input("Input Stop Number:"))

In [31]:
prime_number(10, 20)

LIST NUMBER:[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
PRIME NUMNER:[11, 13, 17, 19]

In [33]:
prime_number(100, 120)

LIST NUMBER:[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120]
PRIME NUMNER:[101, 103, 107, 109, 113, 115]

# Project I Part 2

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as nx
%matplotlib inline

1.import ไฟล์ vgasles เช็คข้อมูลเบื้องต้น

In [121]:
df = pd.read_csv("Dataset/vgsales.csv")

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [123]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Rank,16598.0,8300.605254,4791.853933,1.00,4151.25,8300.50,12449.75,16600.00
Year,16327.0,2006.406443,5.828981,1980.00,2003.00,2007.00,2010.00,2020.00
NA_Sales,16598.0,0.264667,0.816683,0.00,0.00,0.08,0.24,41.49
EU_Sales,16598.0,0.146652,0.505351,0.00,0.00,0.02,0.11,29.02
JP_Sales,16598.0,0.077782,0.309291,0.00,0.00,0.00,0.04,10.22
Other_Sales,16598.0,0.048063,0.188588,0.00,0.00,0.01,0.04,10.57
Global_Sales,16598.0,0.537441,1.555028,0.01,0.06,0.17,0.47,82.74

In [124]:
df.duplicated().sum()

0

2.สุ่มอ่านข้อมูล 10 แถว หัว 5 แถว และท้าย 10 แถว

In [125]:
df.sample(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
6546,6548,McGrath Vs. Pastrana Freestyle Motocross,PS,2000.0,Racing,Acclaim Entertainment,0.14,0.10,0.00,0.02,0.26
9054,9056,Destroy All Humans! Big Willy Unleashed,Wii,2008.0,Action,THQ,0.13,0.00,0.00,0.01,0.14
12398,12400,Taiko no Tatsujin: Atsumete Tomodachi Daisakusen!,WiiU,2015.0,Misc,Namco Bandai Games,0.00,0.00,0.06,0.00,0.06
12358,12360,Dissidia: Final Fantasy Universal Tuning,PSP,2009.0,Fighting,Square Enix,0.00,0.00,0.06,0.00,0.06
14109,14111,Gekiatsu!! Pachi Game Tamashi: CR Evangelion -...,PS3,2010.0,Misc,Unknown,0.00,0.00,0.03,0.00,0.03
10180,10182,Totally Spies! Totally Party,Wii,2008.0,Misc,Ubisoft,0.09,0.01,0.00,0.01,0.11
6083,6085,Wappy Dog,DS,2011.0,Simulation,Activision,0.27,0.00,0.00,0.02,0.29
3336,3338,Monster Trucks,GBA,2004.0,Racing,Majesco Entertainment,0.43,0.16,0.00,0.01,0.60
9709,9711,Echo Night,PS,1998.0,Adventure,From Software,0.03,0.02,0.07,0.01,0.12
2994,2996,Need for Speed (2015),XOne,2015.0,Racing,Electronic Arts,0.30,0.33,0.00,0.06,0.68

In [126]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [127]:
df.tail(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16588,16591,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
16590,16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
16592,16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

3.หา Top 10 Platform ยอดฮิต พร้อมระบุจำนวน

In [128]:
df["Platform"].value_counts()[:10]

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
Name: Platform, dtype: int64

4.หา Bottom 10 Platform ยอดฮิต พร้อมระบุจำนวน

In [129]:
df["Platform"].value_counts()[-10:]

NES     98
DC      52
GEN     27
NG      12
SCD      6
WS       6
3DO      3
TG16     2
GG       1
PCFX     1
Name: Platform, dtype: int64

5.หา Top 10 Platform ชนิดของเกมส์ยอดฮิต พร้อมระบุจำนวน

In [130]:
df["Genre"].value_counts()[:10]

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Name: Genre, dtype: int64

6.หา Bottom 10 Platform ชนิดของเกมส์ยอดฮิต พร้อมระบุจำนวน

In [131]:
df["Genre"].value_counts()[-10:]

Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

7.หารายละเอียดเกมส์ GTA V ภาคต่างๆ ทั้งหมด

In [132]:
df[df["Name"].str.startswith("Grand Theft Auto V")]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
23,24,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
44,45,Grand Theft Auto V,PS4,2014.0,Action,Take-Two Interactive,3.80,5.81,0.36,2.02,11.98
197,198,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.66,2.01,0.00,0.41,5.08
1896,1898,Grand Theft Auto V,PC,2015.0,Action,Take-Two Interactive,0.36,0.64,0.00,0.08,1.08

8.หาจำนวนเกมส์ที่มีชื่อซ้ำกันทั้งหมด

In [133]:
df[["Name"]].duplicated().sum()

5105

9.หาจำนวนเกมส์ที่มีชื่อและ Platform ซ้ำกันทั้งหมด

In [134]:
df[["Name", "Platform"]].duplicated(keep=False).sum()

10

10.จากข้อ 9 พิจารณาแถวที่ข้อมูลซ้ำและลบแถวนั้น

In [135]:
df.drop_duplicates(["Name", "Platform"], keep=False, inplace=True)

In [137]:
df[["Name", "Platform"]].duplicated(keep=False).sum()

0

11.หารายได้ทั้งหมดของเกมส์ FIFA 15

In [138]:
df[df["Name"].str.startswith("FIFA 15")].iloc[:,6:].sum()

NA_Sales         3.20
EU_Sales        12.40
JP_Sales         0.13
Other_Sales      3.29
Global_Sales    19.02
dtype: float64

12.หารายได้ทั้งหมดของเกมส์ GTA V ในญี่ปุ่น

In [139]:
df[df["Name"].str.startswith("Grand Theft Auto V")]["JP_Sales"].sum()

1.3900000000000001

13.สร้าง DF ที่ให้ index เป็นรายชื่อของบริษัทเกมส์ที่มีซ้ำ และ Column เป็นจำนวนที่มีซ้ำ ไม่นับที่เป็น Unique

In [119]:
df.set_index("Name")

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01